:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*variables*/
  --primary-color: #F7A445;
  --secondary-color: #ADB1FF;
  --text-color: #FFFFFFDE;
  --background-color: #040418;
  --background-seconday: #060623;

  color: var(--text-color);

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
  margin: 10px;
}
a:hover {
  color: #535bf2;
}

p {
  font-weight: 200;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color)
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-align: left;
  color: var(--primary-color);
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 500;
  text-align: left;
  color: var(--primary-color);
  text-decoration: dashed;
}

.experience-date {
  opacity: 0.5;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  margin-top: 6rem;
}

footer {
  margin-top: 5rem;
  bottom: 0;
  height: 2.5rem;
  border-top: 1px solid var(--primary-color);
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;

}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  justify-content: center;
  text-align: center;
  gap: 2rem;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Oculta el menú por defecto en móvil */
  }
  
  .menu-icon {
    display: block; /* Muestra el icono de hamburguesa */
  }
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: var(--background-color);
  z-index: 1000;
  border-bottom: var(--primary-color) solid 1px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.navbar-logo {
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.navbar-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.main-content {
  margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  width: 100%;
  padding-top: 4rem; /* Ajusta el padding top para evitar que el contenido se oculte debajo del navbar */
}

.experience {
  margin: 2rem 0.5rem;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border-radius: 20px;
  border: var(--secondary-color) 1px none;
  background: linear-gradient(var(--background-color), var(--background-seconday));

  @media (max-width: 768px) {
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
  }
}

.knowledge-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.education, .skills-container {
  margin: 2rem 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  border: var(--secondary-color) 1px none;
  background: linear-gradient(var(--background-color), var(--background-seconday));
}

.education {
  display: grid;
  grid-template-columns: 1fr 4fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

.education-logo {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
  max-width: 200px;

  @media screen and (max-width: 768px) {
    margin: auto 0;
  }
}

.experience-logo {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
  max-width: 200px;
  max-width: 200px;

  @media screen and (max-width: 768px) {
    margin: auto 0;
  }
}

.experience-info, .education-info {
  margin: auto 2rem;
}

.dot {
  color: var(--secondary-color) !important;
}

.skills {
  margin: 2rem 0;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 100px;
}

.skill-icon {
  width: 30px;
  height: 30px;
  color: var(--secondary-color)
}

.skill-info {
  display: block;
}