:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*variables*/
  --primary-color: #040418;
  --secondary-color: #C1C1FF;
  --tertiary-color: #646cff;
  --quaternary-color: #A25A07;
  --text-color: #FFFFFFDE;

  color: var(--text-color);

  background-color: #040418;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--tertiary-color);
  text-decoration: inherit;
  margin: 10px;
}
a:hover {
  color: #535bf2;
}

p {
  font-weight: 200;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--quaternary-color)
}

h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-align: left;
  color: var(--quaternary-color);
}

h5 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 500;
  text-align: left;
  color: var(--quaternary-color);
  text-decoration: dashed;
}

.experience-date {
  opacity: 0.5;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  margin-top: 6rem;
}

footer {
  margin-top: 5rem;
  bottom: 0;
  height: 2.5rem;
  border-top: 1px solid var(--quaternary-color);
  width: 100%;
}

.navbar {
  top: 0;
  position: absolute;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.main-content {
  margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  width: 100%;
  padding-top: 4rem; /* Ajusta el padding top para evitar que el contenido se oculte debajo del navbar */
}

.experience {
  margin: 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.experience-logo {
  width: 120px;
  height: 120px;
  margin: auto;
  object-fit: contain;
}

.dot {
  color: var(--secondary-color) !important;
}